
*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body, section {
    min-height: 400vh;
}

html, body {
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
    transition: background-color 1.5s ease-in-out, color 1.5s ease-in-out;
}

body.active {
    transition: 1s ease-in-out;
    background-color: #1b1b1e;
    color: white;
}

body.active a {
    transition: 1.5s ease-in-out;
    transition-delay: 0.5s;
    color: white;
}

body.active #dark {
    opacity: 0;
}

body.active #light {
    opacity: 1;
}

.animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 5000%;
    height: 5000%;
    z-index: 450;
    background-color: #333333;
}

section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
    transition: 1s ease-in-out;
}

section.active {
    transition: 1s ease-in-out;
    background-color: #1b1b1e;
    color: white;
}

section.active a {
    transition: 2s ease-in-out;
    transition-delay: 0.5s;
    color: white;
}

section.active #dark {
    opacity: 0;
}

section.active #light {
    opacity: 1;
}





.mail{
    text-decoration: line-through;
    text-decoration-thickness: 3px;

}


.logo a {
    text-decoration: none;
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 30px;
    z-index: 400;
}

header ul {
    list-style: none;
    display: flex;
    margin-right: 50px;
}

header ul li {
    margin: 0 13px;
}

header ul li a {
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: lighter;
    color: black;
    text-decoration: none;
}

.img-wrapper {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 450px;
    width: 450px;
    z-index: 100;
    border-radius: 50%;
}

.mainImg {
    height: auto;
    width: 100%;
    object-fit: cover;
    transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1), filter 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    border-radius: 50%;
    z-index: 100;
    animation: bounceIn 3.5s ease-in-out forwards;
}



#murkchImg:hover {
    filter: grayscale(90%);
}

@keyframes bounceIn {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }
    50% {
        transform: scale(1.05);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.05);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    height: 50vh;
    z-index: 350;
    margin-top: 36vh;
}

.container p {;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    color: #454e56;
    font-weight: bold;
    text-shadow: 0 0 230px rgba(255, 255, 255, 0.1);
    z-index: 350;
}

.container h1 {
    font-family: "Poppins", sans-serif;
    font-size: 100px;
    font-weight: 900;
    color: #000000;
    z-index: 500;
    text-shadow: 0 0 230px rgba(255, 255, 255, 0.1);
    padding-top: 30px;
}

.h1animate {
    z-index: 350;
}

.social {
    position: absolute;
    bottom: 1.5vh;
    left: 1vw;
    display: flex;
    justify-content: space-evenly;
    z-index: 100;
    margin-left: 15px;
    padding: 10px 10px;
    border-radius: 10px;
    backdrop-filter: blur(1.5em);
    background-color: rgba(5, 5, 5, 0.2);
}

.social a {
    color: black;
    font-family: "Poppins", sans-serif;
    z-index: 120;
    font-size: 16px;
    font-weight: bold;
    padding: 4px 5px;
}

.theme {
    position: absolute;
    bottom: 2vh;
    right: 2vw;
    display: flex;
    justify-content: center;
    width: 10vw;
    z-index: 400;
    padding: 12.5px 10px;
    border-radius: 10px;
    backdrop-filter: blur(1.5em);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.theme:hover {
    background-color: rgba(5, 5, 5, 0.2); /* Change background color on hover */
    color: #fff; /* Change text color on hover */
}

#dark {
    cursor: default;
    font-weight: bold;
    font-size: 16px;
}

#light {
    cursor: default;
    opacity: 0;
    font-weight: bold;
    font-size: 16px;

}

section a {
    transition: 2s ease-in-out;
}


.device {
    position: relative;
    width: 345px;
    height: 600px;
    background: #FFF;
    border: 1px solid #EEE;
    border-radius: 3px;
    box-shadow: 0 0 0 10px rgba(0,0,0,.1);
}



.blob {
    background-color: rgba(255, 100, 150, 0.8); /* Adjust color and opacity as needed */
    position: absolute;
    top: 2%;
    left:-10%;
    width: 650px;
    height: 550px;
    border-radius: 40% 60% 70% 30% / 60% 40% 60% 40%;
    animation: blobAnimation 10s ease-in-out infinite alternate;
    z-index: 1;
}


.blob:nth-child(2) { /* Targets the second blob */
    top: 90%;
    width: 200px;
    height: 100px;
    background-color: rgba(150, 255, 150, 0.7); /* Different color */
    animation-duration: 12s; /* Slightly slower animation */
}

.blob:nth-child(3) { /* Targets the third blob */
    top: 70%;
    left: 10%;
    width: 450px;
    height: 320px;
    background-color: rgba(245, 255, 72, 0.89);
    animation-duration: 7s;  /* Faster animation */
    z-index: 1; /* Ensure it is above other elements */

}
.blob:nth-child(4) { /* Targets the third blob */
    top: 35%; /* Place it at the bottom */
    left: 30%;/* Place it at the right */
    width: 490px;
    height: 540px;
    background-color: rgba(100, 150, 255, 0.6);
    animation-duration: 8s;  /* Faster animation */
    z-index: 2;
}
.green-blob {
    position: absolute;
    bottom: 2.5%;
    right: -10%;
    width: 450px;
    height: 430px;
    background-color: rgba(113, 255, 113, 0.7);
    border-radius: 50%;
    animation: blobAnimation 5s infinite ease-in-out;
    z-index: 3;
}


.five-blob {
    top: 5%;
    left: 70%;
    position: absolute;
    width: 350px;
    height: 390px;
    background-color: rgba(4, 0, 0, 0.8);
    border-radius: 50%;
    animation: blobAnimation 3s infinite ease-in-out;
    z-index: 1;
}




@keyframes blobAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
        border-radius: 30% 70% 50% 50% / 40% 60% 50% 50%;
    }
    100% {
        transform: scale(1);
    }
}


/* General Mobile Optimizations */
@media (max-width: 768px) {

    body, section {
        margin: 0;
        flex-direction: column;
        overflow-x: hidden;
        max-width: 100vw;
    }
    html, body {
        overflow-x: hidden;
    }

    section {
        margin: 0 auto;
        max-width: 100%;
    }

    header {
        align-items: center;
    }


    .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 31vh;
        z-index: 350;
        margin-top: 33vh;
    }

    .container p {
        font-weight: bold;
    }

    .container h1 {
        font-size: 83px;
        font-weight: 900;
    }

    .img-wrapper {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
        height: 350px;
        width: 350px;

    }

    .mainImg {
        max-width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;

    }

    .social {
        justify-content: left;
        width: 100%;

        padding: 0 20px;
        gap: 10px;
    }

    .blob {
        background-color: rgba(255, 100, 150, 0.8);
        position: absolute;
        top: 7%;
        left: -10%;
        width: 250px;
        height: 250px;
        border-radius: 40% 60% 70% 30% / 60% 40% 60% 40%;
        animation: blobAnimation 10s ease-in-out infinite alternate;
        z-index: 1;
    }

    .green-blob {
        position: absolute;
        bottom: 5%;
        right: 10%;
        width: 150px;
        height: 170px;
        background-color: rgba(113, 255, 113, 0.7);
        border-radius: 50%;
        animation: blobAnimation 5s infinite ease-in-out;
        z-index: 3;
    }

    .blob:nth-child(3) { /* Targets the third blob */
        top: 73%;
        left: 2%;
        z-index: 4;
        width: 220px;
        height: 181px;
        background-color: rgba(245, 255, 72, 0.89);
        animation-duration: 7s; /* Faster animation */
    }

    .blob:nth-child(4) {
        top: 36%;
        left: 4%;
        width: 351px;
        height: 330px;
        background-color: rgba(100, 150, 255, 0.6);
        animation-duration: 8s;
        z-index: 2;
    }

    .five-blob {
        top: -7%;
        left: 47%;
        position: absolute;
        width: 200px;
        height: 200px;
        background-color: rgba(4, 0, 0, 0.8);
        border-radius: 50%;
        animation: blobAnimation 3s infinite ease-in-out;
        z-index: 1;
    }

    .social a {
        font-size: 10px;
    }

    .social {
        position: absolute;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        width: 300px;
        height: 50px;
        z-index: 100;
        margin-left: 5px;
        padding: 0px;
    }

    .theme {
        right: 10vw;
        width: 15vw;

    }
}



@media(max-width: 462px) {
    .mainImg {
        position: absolute;
        justify-content: center;
        max-width: 100%;
        left: 6%;
        top: 30px;
        margin: -80px -20px;

    }
    .header-container {
        display: flex;
        justify-content: space-between; /* Space between menu and logo */
        align-items: center;
        width: 100%;
        padding: 0 20px; /* Adding padding for breathing room */
    }
    .theme {
        position: absolute;
        bottom: 4px;
        right: 0;
        display: flex;
        justify-content: right;
        padding-right: 20px;
        width: 16vw;

    }

    #dark {
        cursor: pointer;
        font-size: 15px;
    }

    #light {
        cursor: pointer;
        opacity: 0;
        font-size: 15px;
    }

    .social {
        gap: 0;
        width: 60vw;
    }

    .social a {
        font-size: 12px;
    }

    .five-blob {
        top: 0%;
        left: 55%;
    }
    .blob, .green-blob {
        position: absolute;
        overflow: hidden; /* Ensure no overflow issues */
        margin: 0; /* Remove any margin */
        padding: 0; /* Remove any padding */
    }
}


.no-js {
    visibility: hidden;
}

@keyframes fadeZoomInBlur {
    0% {
        opacity: 0;
        filter: blur(10px);
        transform: scale(1);

    }
    100% {
        opacity: 1;
        filter: blur(0);
        transform: scale(1.2);

    }
}


.main-content {
overscroll-behavior-x: none;
overflow-x: hidden;
    margin-bottom: 60px; /* Add margin to separate from the new section */
}

.new-section {
    
    background-color: #363636; /* Different background color for the new section */
    border: 2px solid #000; /* Add a border to the new section */
    margin-top: 80px;
    overflow-x: hidden;

}



#aboutMe {

    margin-top: 90vh;
}


.background-rectangle {
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -60%);
    width: 60vw;
    height: 70vh;
    background-color: rgba(115, 101, 101, 0.4);
    border-radius: 40px;
    z-index: 4; /* in front of blobs, but behind h1, mainimg and p :D */
    backdrop-filter: blur(1.5em);
    transition: background-color 1.5s cubic-bezier(.8,.39,.1,1.52), backdrop-filter 1.5s cubic-bezier(.79,.14,.15,.86);
    -webkit-animation: backgroundAnimation 29s ease infinite;
    -moz-animation: backgroundAnimation 29s ease infinite;
    -o-animation: backgroundAnimation 29s ease infinite;
    animation: backgroundAnimation 29s ease infinite, backgroundAnimation2 7s ease infinite;}

body.active .background-rectangle {
    background-color: rgba(225, 225, 225, 0.4); /* Dark mode background color */
    backdrop-filter: blur(1.5em) brightness(0.7); /* Adjust the blur and brightness for dark mode */
}


@keyframes backgroundAnimation2 {
    0% {
        transform: translate(-50%, -60%) scale(1);
        background-color: rgba(115, 101, 101, 0.4);
    }
    50% {
        transform: translate(-50%, -60%) scale(1.05);
        background-color: rgba(145, 128, 128, 0.6);
    }
    100% {
        transform: translate(-50%, -60%) scale(1);
        background-color: rgba(115, 101, 101, 0.4);
    }
}


@-webkit-keyframes backgroundAnimation {
    0%{background-position:49% 0%}
    50%{background-position:52% 100%}
    100%{background-position:49% 0%}
}
@-moz-keyframes backgroundAnimation {
    0%{background-position:49% 0%}
    50%{background-position:52% 100%}
    100%{background-position:49% 0%}
}
@-o-keyframes backgroundAnimation {
    0%{background-position:49% 0%}
    50%{background-position:52% 100%}
    100%{background-position:49% 0%}
}
@keyframes backgroundAnimation {
    0%{background-position:49% 0%}
    50%{background-position:52% 100%}
    100%{background-position:49% 0%}
}


