
*{
    margin: 0;
    padding: 0;

}
body {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    overflow: hidden;
}
body.active {
    transition: 1s ease-in-out;
    background-color: #1b1b1e;
    color: white;
}

body.active a {
    transition: 1.5s ease-in-out;
    transition-delay: 0.5s;
    color: white;
}

body.active #dark {
    opacity: 0;
}

body.active #light {
    opacity: 1;
}

.animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 5000%;
    height: 5000%;
    z-index: 450;
    background-color: #333333;
}

section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
    transition: 1s ease-in-out;
}

section.active {
    transition: 1s ease-in-out;
    background-color: #1b1b1e;
    color: white;
}

section.active a {
    transition: 2s ease-in-out;
    transition-delay: 0.5s;
    color: white;
}

section.active #dark {
    opacity: 0;
}

section.active #light {
    opacity: 1;
}


header {
    position: absolute;
    top: 1px;
    left: 0;
    z-index: 200;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0); /* Semi-transparent background */
    backdrop-filter: blur(20px); /* Apply blur */
    -webkit-backdrop-filter: blur(20px); /* For Safari */
    border: 1px solid rgba(255, 255, 255, 0); /* Optional: Add border */

}



.logo {
    margin-left: 50px;
    z-index: 400;
}

.logo a {
    text-decoration: none;
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 30px;
    z-index: 400;
}

header ul {
    list-style: none;
    display: flex;
    margin-right: 50px;
}

header ul li {
    margin: 0 13px;
}

header ul li a {
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: lighter;
    color: black;
    text-decoration: none;
}

.img-wrapper {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 450px;
    width: 450px;
    z-index: 100;
}

.mainImg {
    height: auto;
    width: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
    border-radius: 50%;
    z-index: 100;
}

.mainImg:hover {
    filter: grayscale(100%);
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    height: 130vh;
    z-index: 350;
}

.container p {;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    color: #454e56;
    font-weight: bold;
    text-shadow: 0 0 230px rgba(255, 255, 255, 0.1);
    z-index: 350;
}

.container h1 {
    font-family: "Poppins", sans-serif;
    font-size: 100px;
    font-weight: 900;
    color: #000000;
    z-index: 500;
    text-shadow: 0 0 230px rgba(255, 255, 255, 0.1);
}

.h1animate {
    z-index: 350;

}

.social {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    height: 50px;
    z-index: 100;
}

.social a {
    color: black;
    font-family: "Poppins", sans-serif;
    font-size: 10px;
    font-weight: lighter;
    z-index: 120;
}

.theme {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    width: 200px;
    height: 50px;
    z-index: 400;
}

#dark {
    cursor: pointer;
}

#light {
    cursor: pointer;
    opacity: 0;
}

section a {
    transition: 2s ease-in-out;
}



/* Slide-in Menu */
.ul { /* Target the <ul> element */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transform: translateX(-100%); /* Slide in from the left */
    transition: all 0.5s ease-in-out;
    z-index: 999; /* Ensure it's above other content */
}

.ul.active {
    transform: translateX(0); /* Slide into view */
}


/* Styling the slide-in content */
.slide-in-menu ul.ul {
    list-style: none;
    padding: 20px;
}

.slide-in-menu ul.ul li {
    margin-bottom: 15px;
}

.slide-in-menu ul.ul li a {
    color: black;
} /* Customize link color as needed */



/* Updated Menu Styles */
.main-nav {
    position: fixed;
    top: 0%;  /* Change from -100% */
    left: -100%;
    width: 200%;  /* Cover full width */
    height: 100%;
    text-align: center;
    background: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
    backdrop-filter: blur(10px); /* Apply blur */
    -webkit-backdrop-filter: blur(10px); /* For Safari */
    opacity: 0;
    z-index: 200;
    visibility: hidden;
    transition: all .525s;
}

.main-nav.is-open {
    left: 0%;      /* Slide in from the left */
    opacity: 1;
    z-index: 390;
    visibility: visible;
}

/* Yellow band effect */
.main-nav::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -15px;
    background: rgba(0, 0, 0, 0.87);
    transform-origin: 0 0;
    transform: skew(-14deg) translateX(-120%);
    transition: all .275s .1s;
}

.main-nav.is-open::before {
    transform: skew(-14deg) translateX(0);
    z-index: -1;
}

/* Skewing effect on menu links */
.main-nav ul {
    display: inline-flex;
    flex-direction: column;
    height: 100%; /* Should be 100%, but we have a notice message :D */
    align-items: flex-end;
    justify-content: center;
    transform: translateX(-18%) skew(-16deg);
    color: #3884f1;
}

.main-nav li {
    display: block;
    margin: .5rem 0;
    text-align: right;
    transform: skew(16deg);
}

.main-nav a {
    opacity: 0;
    transform: translateY(-10px);
}

.main-nav.is-open a {
    opacity: 1;
    transform: translateY(0);
}

.main-nav li:nth-child(1) a {
    transition: all 275ms 175ms
}
.main-nav li:nth-child(2) a {
    transition: all 275ms 225ms
}
.main-nav li:nth-child(3) a {
    transition: all 275ms 275ms
}
.main-nav li:nth-child(4) a {
    transition: all 275ms 325ms
}
.main-nav li:nth-child(5) a {
    transition: all 275ms 375ms
}

/* Decoration */
.main-nav ul,
.main-nav li {
    list-style: none;
    padding: 0;
}
.main-nav a {
    display: block;
    padding: 12px 0;
    color: #3884f1;
    font-size: 1.4em;
    text-decoration: none;
    font-weight: bold;
}

.open-main-nav {
    position: absolute;
    padding-top: 20px;
    right: 15px;
    z-index: 1000;
    background: none;
    border: 0;
    cursor: pointer;
}
.open-main-nav:focus {
    outline: none;
}
.burger {
    width: 24px;
    height: 3px;
    margin-bottom: 4px; /* Spacing between lines */
    position: relative;
    background: #3884f1;
    transform: skew(20deg);
    transition: all .275s;
}


.burger:before,
.burger:after {
    content: '';
    display: block;
    width: 24px;
    height: 3px;
    background-color: #3884f1;
    transition: all 0.3s ease-in-out;
}

.burger:after {
    transform: translateY(-12px) translateX(-2px) skew(-20deg);
    opacity: 100;
}

.burger:before {
    transform: translateY(-16px) skew(-10deg);
    opacity: 0;
}

/* Toggle State part */
.is-open .burger {
    transform: skew(5deg) translateY(-8px) rotate(-45deg);

}

.is-open .burger:before {
    transform: translateY(0px) skew(-10deg) rotate(75deg);
}

.is-open .burger:after {
    transform: translateY(-12px) translateX(10px) skew(-20deg);
    opacity: 0;
}

.device {
    position: relative;
    width: 345px;
    height: 600px;
    background: #FFF;
    border: 1px solid #EEE;
    border-radius: 3px;
    box-shadow: 0 0 0 10px rgba(0,0,0,.1);
}



.blob {
    background-color: rgba(255, 100, 150, 0.8); /* Adjust color and opacity as needed */
    position: absolute;
    top: 2%;
    left:-10%;
    width: 650px;
    height: 550px;
    border-radius: 40% 60% 70% 30% / 60% 40% 60% 40%;
    animation: blobAnimation 10s ease-in-out infinite alternate;
    z-index: 1;
}


.blob:nth-child(2) { /* Targets the second blob */
    top: 90%;
    width: 200px;
    height: 100px;
    background-color: rgba(150, 255, 150, 0.7); /* Different color */
    animation-duration: 12s; /* Slightly slower animation */
}

.blob:nth-child(3) { /* Targets the third blob */
    top: 70%;
    left: 10%;
    width: 450px;
    height: 320px;
    background-color: rgba(245, 255, 72, 0.89);
    animation-duration: 7s;  /* Faster animation */
}
.blob:nth-child(4) { /* Targets the third blob */
    top: 35%; /* Place it at the bottom */
    left: 30%;/* Place it at the right */
    width: 490px;
    height: 540px;
    background-color: rgba(100, 150, 255, 0.6);
    animation-duration: 8s;  /* Faster animation */
    z-index: 2;
}
.green-blob {
    position: absolute;
    bottom: 2.5%;
    right: -10%;
    width: 450px;
    height: 430px;
    background-color: rgba(113, 255, 113, 0.7);
    border-radius: 50%;
    animation: blobAnimation 5s infinite ease-in-out;
    z-index: 3;
}
.five-blob {
    top: 5%;
    left: 70%;
    position: absolute; /* Ensures blob stays in position */

    width: 350px; /* Adjust width as needed */
    height: 390px; /* Adjust height as needed */
    background-color: rgba(4, 0, 0, 0.8); /* Set the color to green */
    border-radius: 50%; /* Make it a perfect circle */
    animation: blobAnimation 3s infinite ease-in-out; /* Optional: Add animation (see below) */
    z-index: 1;
}




@keyframes blobAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
        border-radius: 30% 70% 50% 50% / 40% 60% 50% 50%;
    }
    100% {
        transform: scale(1);
    }
}


/* General Mobile Optimizations */
@media (max-width: 768px) { /* Adjust this breakpoint as needed */

    body, section {
        margin: 0; /* Remove default margins, if desired */
        flex-direction: column;
    }

    section {
        padding: 20px; /* Consistent padding around content */
    }

    header {
        align-items: center;
    }

    .ul { /* Main menu list */
        margin-top: 20px;

    }

    .container {
        flex-direction: column; /* Stack heading and text */
        align-items: center;
        text-align: center;
    }

    .container p {
        font-weight: lighter;
    }

    .container h1 {
        font-size: 50px;
        font-weight: 900;
    }

    .img-wrapper {
        width: 80%; /* Limit to prevent overflow */
        margin: 20px 40px auto; /* Center the image */
    }

    .mainImg {
        max-width: 80%;
        height: auto;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;

    }

    .social {
        justify-content: left; /* Distribute social links */
        width: 100%;

        padding: 0 20px; /* Add padding for breathing room */
        gap: 10px; /* Add space between links */
    }

    .blob {
        background-color: rgba(255, 100, 150, 0.8); /* Adjust color and opacity as needed */
        position: absolute;
        top: 7%;
        left:-10%;
        width: 250px;
        height: 250px;
        border-radius: 40% 60% 70% 30% / 60% 40% 60% 40%;
        animation: blobAnimation 10s ease-in-out infinite alternate;
        z-index: 1;
    }
    .green-blob {
        position: absolute;
        bottom: 5%;
        right: 10%;
        width: 150px;
        height: 170px;
        background-color: rgba(113, 255, 113, 0.7);
        border-radius: 50%;
        animation: blobAnimation 5s infinite ease-in-out;
        z-index: 3;
    }

    .blob:nth-child(3) { /* Targets the third blob */
        top: 70%;
        left: 5%;
        z-index: 4;
        width: 250px;
        height: 220px;
        background-color: rgba(245, 255, 72, 0.89);
        animation-duration: 7s;  /* Faster animation */
    }
}



@media(max-width: 462px) {
    .mainImg {
        position: absolute;
        justify-content: center;
        max-width: 100%;
        margin: -30px -40px; /* Center the image */

    }
    .header-container {
        display: flex;
        justify-content: space-between; /* Space between menu and logo */
        align-items: center;
        width: 100%;
        padding: 0 20px; /* Adding padding for breathing room */
    }
    .theme {
        position: absolute;
        bottom: 4px;
        right: 0;
        display: flex;
        justify-content: right;
        padding-right: 20px;
        width: 200px;
        height: 50px;
    }

    #dark {
        cursor: pointer;
    }

    #light {
        cursor: pointer;
        opacity: 0;
    }
}












